<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOV UI | Alert</title>
    <link href="/components/alert.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap"
      rel="stylesheet"
    />
     <script
      src="https://kit.fontawesome.com/af85c0793c.js"
      crossorigin="anonymous"> </script>
</head>



<body>
    <div class="page-wrap">
    <div class="header">
        <a href="#" class="logo">DOV UI </a>
        
        <div class="navbar">
          <a href="/index.html">Home</a>
          <a href="#">Features</a>
          <a href="/components/avatar.css">Documentation</a>
          <i class="fab fa-github"></i>
        </div>
      </div>    
    
    
     <div class="main-container">

        <aside class="sidebar">
            <h2>Install DOV UI</h1> 
            <ul>
                <li> <a href="/components/avatar.html">Avatar</a></li>
                <li> <a href="/components/alert.html">Alert</a></li>
                <li> <a href="/components/Badges.html">Badge</a></li>
                <li> <a href="/components/buttons.html">Button</a></li>
                <li> <a href="#">Card</a></li>
                <li> <a href="/components/images.html">Image</a></li>
                <li> <a href="#">Input</a></li>
            </ul>
        </aside>

    <div class="alerts">
      <h5>DOV UI Alert's</h5>

      <h6>Alerts with Icons</h6>

      <div class="alert-primary">
          <span>Primary Alert</span>
      </div>  
      <div class="alert-secondary">
          <span>Secondary Alert</span>
      </div> 
      <div class="alert-success">
          <span>Success Alert</span>
      </div>  
      <div class="alert-warning">
          <span>Alert Warning</span>
      </div> 
      <div class="alert-danger">
        <span>Alert Danger </span>
    </div>
      
      <h6>Alerts with Icons</h6>

          <div class="alert-success-icon">
            <span class="icon">
              <i class="fas fa-check-circle"></i>
            </span>
            <span>Alert Success</span>
        </div>

          <div class="alert-warning-icon">
            <span class="icon">
              <i class="fa fa-exclamation-circle"></i>
            </span>
            <span>Alert Warning</span>
          </div>

          <div class="alert-danger-icon">
            <span class="icon">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            <span>Alert Danger</span>
          </div>
          
          
      </div>
    </div>
 </div>
    </div>
    

</body>
</html>