<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOV UI | Badges</title>
    <link href="/components/badges.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap"
      rel="stylesheet"
    />
     <script
      src="https://kit.fontawesome.com/af85c0793c.js"
      crossorigin="anonymous"> </script>
</head>



<body>
    <div class="page-wrap">
    <div class="header">
        <a href="#" class="logo">DOV UI </a>
        
        <div class="navbar">
          <a href="/index.html">Home</a>
          <a href="#">Features</a>
          <a href="/components/avatar.html">Documentation</a>
          <i class="fab fa-github"></i>
        </div>
      </div>    
    
    
     <div class="main-container">
        <aside class="sidebar">
            <h2>Install DOV UI</h1> 
            <ul>
                <li> <a href="/components/avatar.html">Avatar</a></li>
                <li><a href="/components/alert.html">Alert</a></li>
                <li> <a href="/components/badges.html">Badge</a></li>
                <li> <a href="/components/buttons.html">Button</a></li>
                <li> <a href="#">Card</a></li>
                <li> <a href="#">Image</a></li>
                <li> <a href="#">Input</a></li>
            </ul>
        </aside>

        <div class="badges">
            <h5>DOV UI Badge's</h5>
            
            <div class="icons-badges">
                <h6>Icons with Badges</h6>
                <i class="far fa-bell bell-icon"></i>
                <span class="bell-badge">10</span>
                <i class="fas fa-shopping-cart cart-icon"></i>
                <span class="cart-badge">23</span>
            </div>

            <div class="avatar-badges">
                <h6>Avatar with Badges</h6>
                <img class="avatar-online" src="/resources/avatar.png">
                <span class="avatar-online-badge">.</span>
                <img class="avatar-online-m" src="/resources/avatar.png">
                <span class="avatar-online-badge-m">.</span>
                <img class="avatar-online-lg" src="/resources/avatar.png">
                <span class="avatar-online-badge-lg">.</span>
            </div>



        </div>
    </div>
       </div>
       

       
   
   </body>
   </html>
