<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOV UI | Buttons</title>
    <link href="/components/buttons.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap"
      rel="stylesheet"
    />
     <script
      src="https://kit.fontawesome.com/af85c0793c.js"
      crossorigin="anonymous"> </script>
</head>



<body>

    <div class="page-wrap">
    <div class="header">
        <a href="#" class="logo">DOV UI </a>
        
        <div class="navbar">
          <a href="/index.html">Home</a>
          <a href="#">Features</a>
          <a href="/components/avatar.css">Documentation</a>
          <i class="fab fa-github"></i>
        </div>
      </div>    
    
    
     <div class="main-container">

        <aside class="sidebar">
            <h2>Install DOV UI</h1> 
            <ul>
                <li> <a href="/components/avatar.html">Avatar</a></li>
                <li> <a href="/components/alert.html">Alert</a></li>
                <li> <a href="/components/Badges.html">Badge</a></li>
                <li> <a href="/components/buttons.html">Buttons</a></li>
                <li> <a href="#">Card</a></li>
                <li> <a href="/components/images.html">Image</a></li>
                <li> <a href="#">Input</a></li>
            </ul>
        </aside>

    <div class="alerts">
       

    </div>
      <div class="buttons-page">
        
      <h2>DOV UI's Buttons</h2>
      <div class="btn-primary">

        <h4>Primary Buttons</h4>
        <button class="btn-primary-simple">Primary Button</button>
        <button class="btn-primary-outline">Primary Button</button>
        
        <a href="#" class="link-btn-primary">Link Button</a>
        
        <button class="btn-primary-icon"><i class="fas fa-shopping-cart cart-icon pr-icon"></i> Add to Cart</button>
        
        
      </div>

      <div class="btn-secondary">
        <h4>Secondary Buttons</h4>
        <button class="btn-secondary-simple">Secondary Button</button>
        <button class="btn-secondary-outline">Secondary Button</button>
        
        <a href="#" class="link-btn-secondary">Link Button</a>
        <button class="btn-secondary-icon">
          <i class="fas fa-shopping-cart cart-icon sc-icon"></i>Discard Cart Items</button>
          
      </div>

      <div class="btn-sizes">
        <h4>Different Sized Buttons</h4>
        <button class="btn-small">Small Button</button>
        <button class="btn-large">Large Button</button>
      </div>

      <div>
        <h4>Disabled Buttons</h4>
        <button class="btn-disabled">Primary Button</button>
        <button class="btn-disabled-2">Secondary Button</button>
      </div>

      <div>
        <h4>Floating Buttons</h4>
        <a class="btn-float">
          <i class="fa fa-arrow-up arrow-icon"></i>
         
        </a>
        
      </div>
    </div>



         
          
          
      </div>
    </div>
 </div>
    </div>
    

</body>
</html>