<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOV UI | Images</title>
    <link href="/components/images.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap"
      rel="stylesheet"
    />
     <script
      src="https://kit.fontawesome.com/af85c0793c.js"
      crossorigin="anonymous"> </script>
</head>



<body>
    <div class="page-wrap">
    <div class="header">
        <a href="#" class="logo">DOV UI </a>
        
        <div class="navbar">
          <a href="/index.html">Home</a>
          <a href="#">Features</a>
          <a href="/components/avatar.css">Documentation</a>
          <i class="fab fa-github"></i>
        </div>
      </div>    
    
    
     <div class="main-container">

        <aside class="sidebar">
            <h2>Install DOV UI</h1> 
            <ul>
                <li> <a href="/components/avatar.html">Avatar</a></li>
                <li> <a href="/components/alert.html">Alert</a></li>
                <li> <a href="/components/Badges.html">Badge</a></li>
                <li> <a href="/components/buttons.html">Button</a></li>
                <li> <a href="#">Card</a></li>
                <li> <a href="/components/images.html">Image</a></li>
                <li> <a href="#">Input</a></li>
            </ul>
        </aside>

    
        <div class="image-component">
            <h2 class="images-h2">DOV UI Images</h2>

            <div class="image-container">
                <h4>Square Shaped Image</h4>
                <p class="image-des">Responsive Images can fit to the parent's width.
                <br>Resize the bowser window to check the responsiveness of the image</p>
                <img src="/resources/avatar.png" class="image-square">
                <h4>Rounded Image</h4>
                <p class="image-des">Images can also be customised to be round shaped</p>
                <img class="image-round" src="/resources/avatar.png">
                
            </div>
        </div>
    </div>
 </div>
    </div>
    

</body>
</html>